.Main {
    position: absolute;
    margin-top: 150px;
    margin-left: 200px;
    padding: 5px 55rem 5px 5px;
    background: #ffffff;
    min-height: calc(20vh - 100px);
}

.Main > h1 {
    color: lightseagreen;
}

.Main > a {
    font-size: 20px;

}

.search {
    position: relative;
    width: 150px;
    margin: 0 50px 100px 150px;
    left: 500px;
    top: 5px;
    bottom: 100px;
}
.search label 
{
    position: relative;
    width: 80%;
}
.search label input{
    width: 100%;
    height: 30px;
    padding: 5px 20px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
.search label Search {
    position: absolute;
    left: 15px;
}

.Main > h4 {
    font-size: 5px;
    font-weight: normal;
    justify-content: space-between;
    display: grid;
}



.grid-single {
    display: block;
    grid-template-columns: 70% auto;
    grid-gap: 2rem;
    margin-top: 1rem;
}

table {
    font-weight: 500;

}
table > i {
    display: block;
}
.recent-grid
{
    position: relative;
    width: 100%;
    height:100px;
    left:100px;
    top:300px;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
}